* {
  margin: 0;
  font-family: Arial;
  color: #333;
  box-sizing: border-box;
}
.Logo {
  text-align: center;
  padding: 20px 0;
  background-color: gold;
}
.Logo h1 {
  font-size: 36px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.Form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  padding: 11px 0;
}
.Form select {
  margin-left: 10px;
  padding: 7px 12px;
  border-radius: 10px;
  border: none;
  outline: none;
}
.Form input {
  margin-left: 10px;
  border-radius: 10px;
  padding: 5px 13px;
  border: none;
  outline: none;
}
.Packinglist {
  background-color: rgb(105, 26, 26);
  height: 69vh;
  padding: 15px 0;
}
.Packinglist ul {
  list-style: none;
}
.Packinglist ul li {
  display: inline-block;
  padding: 5px 20px;
}
.Packinglist ul li span {
  color: wheat;
  font-size: 20px;
}
.Packinglist ul li button {
  background-color: transparent;
  border: none;
}
.Stats {
  background-color: rgb(0, 208, 255);
  text-align: center;
  padding: 16px 0;
}
.Stats footer em {
  color: rgb(135, 7, 7);
}
